@model WardrobeProject.Models.WomensOutfit

@{
    ViewBag.Title = "Details";
}

<h2 id="h2-ma">Details</h2>


<h4>Women's Outfit Items</h4>
<hr />

<div class="row">

    <div class="col-md-3">
        <h3 id="detail-outfit"> @Html.DisplayFor(model => model.WomensAccessory.Name)</h3>

        <div class="images">
            <img src="@Html.DisplayFor(model => model.WomensAccessory.Photo)" alt="Alternate Text" />
        </div>
    </div>

    <div class="col-md-3">
        <h3 id="detail-outfit"> @Html.DisplayFor(model => model.WomensTop.Name)</h3>

        <div class="images">
            <img src="@Html.DisplayFor(model => model.WomensTop.Photo)" alt="Alternate Text" />
        </div>
    </div>

    <div class="col-md-3">
        <h3 id="detail-outfit"> @Html.DisplayFor(model => model.WomensBottom.Name)</h3>

        <div class="images">
            <img src="@Html.DisplayFor(model => model.WomensBottom.Photo)" alt="Alternate Text" />
        </div>
    </div>

    <div class="col-md-3">
        <h3 id="detail-outfit"> @Html.DisplayFor(model => model.WomensSho.Name)</h3>

        <div class="images">
            <img src="@Html.DisplayFor(model => model.WomensSho.Photo)" alt="Alternate Text" />
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WomensOutfitID }) <img src="https://png.icons8.com/color/20/000000/multi-edit.png"> |
    @Html.ActionLink("Back to List", "Index") <img src="https://png.icons8.com/ultraviolet/20/000000/circled-left.png">
</p>
