@model IEnumerable<WardrobeProject.Models.MensOutfit>

@{
    ViewBag.Title = "Index";
}

<h2 id="h2-ma">Men's Outfits</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>




<div class="row">
    @foreach (var item in Model)
    {

    <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true" id="dragtarget">
        <div class="col-md-3">

            <div class="images">
                <img src="@Html.DisplayFor(modelItem => item.MensAccessory.Photo)" alt="Alternate Text" />
            </div>
            <div class="icons">
                @Html.ActionLink("Edit", "Edit", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/color/20/000000/multi-edit.png"> |
                @Html.ActionLink("Details", "Details", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/ultraviolet/20/000000/search.png"> |
                @Html.ActionLink("Delete", "Delete", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/ultraviolet/20/000000/cancel.png">
            </div>
        </div>
    </div>
   
        <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true" id="dragtarget">
        <div class="col-md-3">

            <div class="images">
                <img src="@Html.DisplayFor(modelItem => item.MensTop.Photo)" alt="Alternate Text" />
            </div>
            <div class="icons">
                @Html.ActionLink("Edit", "Edit", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/color/20/000000/multi-edit.png"> |
                @Html.ActionLink("Details", "Details", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/ultraviolet/20/000000/search.png"> |
                @Html.ActionLink("Delete", "Delete", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/ultraviolet/20/000000/cancel.png">
            </div>
        </div>
    </div>
    
        <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true" id="dragtarget">
        <div class="col-md-3">
            <div class="images">

                <img src="@Html.DisplayFor(modelItem => item.MensBottom.Photo)" alt="Alternate Text" />
            </div>
            <div class="icons">
                @Html.ActionLink("Edit", "Edit", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/color/20/000000/multi-edit.png"> |
                @Html.ActionLink("Details", "Details", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/ultraviolet/20/000000/search.png"> |
                @Html.ActionLink("Delete", "Delete", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/ultraviolet/20/000000/cancel.png">
            </div>
        </div>
    </div>

        <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true" id="dragtarget">
            <div class="col-md-3">

                <div class="images">
                    <img src="@Html.DisplayFor(modelItem => item.MensSho.Photo)" alt="Alternate Text" />
                </div>
                <div class="icons">
                    @Html.ActionLink("Edit", "Edit", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/color/20/000000/multi-edit.png"> |
                    @Html.ActionLink("Details", "Details", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/ultraviolet/20/000000/search.png"> |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MensOutfitsID }) <img src="https://png.icons8.com/ultraviolet/20/000000/cancel.png">
                </div>
            </div>
        </div>
            }
        </div>

<h2 id="mix">Mix N Match</h2>

<div class="row">
    <div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="col-md-3">
            <div class="empty-container">

            </div>
        </div>

        <div class="col-md-3">
            <div class="empty-container">

            </div>
        </div>

        <div class="col-md-3">
            <div class="empty-container">

            </div>
        </div>

        <div class="col-md-3">
            <div class="empty-container">

            </div>
        </div>
    </div>
</div>