<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>

    <div class="container-fluid">
        <nav class="navbar navbar-default">
           
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">@Html.ActionLink("Outfit Central", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">@Html.ActionLink("Accessories", "Index", "MensAccessories")</a></li>
                                <li><a href="#">@Html.ActionLink("Bottoms", "Index", "MensBottoms")</a></li>
                                <li><a href="#">@Html.ActionLink("Shoes", "Index", "MensShoes")</a></li>
                                <li><a href="#">@Html.ActionLink("Tops", "Index", "MensTops")</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">@Html.ActionLink("Outfits", "Index", "MensOutfits")</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">@Html.ActionLink("Accessories", "Index", "WomensAccessories")</a></li>
                                <li><a href="#">@Html.ActionLink("Bottoms", "Index", "WomensBottoms")</a></li>
                                <li><a href="#">@Html.ActionLink("Shoes", "Index", "WomensShoes")</a></li>
                                <li><a href="#">@Html.ActionLink("Tops", "Index", "WomensTops")</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">@Html.ActionLink("Outfits", "Index", "WomensOutfits")</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>   
              </nav>
            </div>
        
       
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p id="footerChange" onmouseover="changeCopy(this);" onmouseout="defaultCopy(this);">&copy; 2018</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/script.js"></script>
</body>
</html>
