<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html">@Html.ActionLink("Outfit Central", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Men
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">@Html.ActionLink("Accessories", "Index", "MensAccessories")</a>
                            <a class="dropdown-item" href="#">@Html.ActionLink("Bottoms", "Index", "MensBottoms")</a>
                            <a class="dropdown-item" href="#">@Html.ActionLink("Shoes", "Index", "MensShoes")</a>
                            <a class="dropdown-item" href="#">@Html.ActionLink("Tops", "Index", "MensTops")</a>
                            <a class="dropdown-item" href="#">@Html.ActionLink("Outfits", "Index", "MensOutfits")</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Women
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">@Html.ActionLink("Accessories", "Index", "WomensAccessories")</a>
                            <a class="dropdown-item" href="#">@Html.ActionLink("Bottoms", "Index", "WomensBottoms")</a>
                            <a class="dropdown-item" href="#">@Html.ActionLink("Shoes", "Index", "WomensShoes")</a>
                            <a class="dropdown-item" href="#">@Html.ActionLink("Tops", "Index", "WomensTops")</a>
                            <a class="dropdown-item" href="#">@Html.ActionLink("Outfits", "Index", "WomensOutfits")</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/script.js"></script>
</body>
</html>
